---
---

	
//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
        background-image: url("http://wallpapercave.com/wp/sPXLBtC.jpg");
	background-repeat: no-repeat;
    	background-position: right top;
    	background-attachment: fixed;
  font: 18px/1.4 $helvetica  ;
  color: #D9B310;
}

div {
    box-sizing: border-box;
    width: 100%;
    float: center;
}

table {
    border-collapse: collapse;
    width: 100%
}

table, th, td {
    border: 1px solid black;
	
}

body {
  margin: 0 auto;
  width: 960px;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  background:rgba(63, 191, 191, 0.1);
	border-radius: 25px;
    padding: 20px; 
	border-bottom: 1px solid white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: #D9B310;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #D9B310;
}

p {
  margin: 15px 0;
}

a {
  color: #D9B310;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
